@model HotelManagementSystem.Models.RoomStatusModel

@{
    ViewData["Title"] = "Edit";
}

<h1 style="color:dimgray">Edit</h1>

<h4>Room Status Model</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RoomStatusId" class="control-label"></label>
                <input asp-for="RoomStatusId" class="form-control" />
                <span asp-validation-for="RoomStatusId" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="RoomStatusName" class="control-label"></label>
                <input asp-for="RoomStatusName" class="form-control" />
                <span asp-validation-for="RoomStatusName" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <button type="button" class="btn btn-light"><a asp-action="Index">Back to List</a></button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
